<nav style="background-color: #005EB8; padding: 40px 150px;">
  <div>
    <%= link_to root_path do %>
      <%= image_tag "logo.png", alt: "NHS Logo", style: "height: 45px;" %>
    <% end %>
    <hr style="border: 1px solid #fff; margin-top: 20px;">
  </div>
</nav>
